extends layout

block content
	include menu.jade
	div(class="container-all-outer grey-color")
		include allHeader.jade
		.container-fluid
			.row
				div(class="slider-side side-art")
		.container
			.row
				div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-outer-team")
					nav(class="outer-of-breadcrumps")
						ul(class="list-of-breadcrumps")
							each val in breadcrumps
								if(val.link)
									li 
										a(href=val.link)= val.inRus
								else
									li= val.inRus
					h1(class="title-of-h1")= texts.ART
					p(class="mini-description")= texts.ART_TEXT
		.outer-all-block-portfolio
			div(class="container-of-slider grid")
				- var i = 0;
				each val in data.portfolio
					- i++;
					div(class="grid-item item-"+i)
						a(class="discription-of-work" href="/portfolio/"+val._id)
							h3= val['title_'+lang]
								span= val['description_'+lang]
						img(src=val.tempTitle, alt=val['title_'+lang])		
						
		include footer.jade
	script(src="/build/masonry.pkgd.min.js")
	script(src="/build/controller.js")