extends layout

block content
	include menu.jade
	div(class="container-all-outer grey-color")
		include allHeader.jade
		.container
			.row
				div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-outer-team")
					h1(class="title-of-h1")
						| #{texts.ERR} 
						br 
						span(class="mistake-status")= err.status
					p(class="mini-description")= texts.ERR_TEXT
						a(href="/")= texts.ERR_GENERAL_LINK
						| #{texts.ERR_RIGHT_MENU}

		include footer.jade
	script(src="/build/controller.js")