extends layout

block content
	include menu.jade
	.container-all-outer
		header(class="header-to-site")
			a(href="/" class="logo-for-site")
				img(src="/images/logo.png", class="-logo-web", alt=texts.TEXT_TITLE_ALT_EMPTY)
				img(src="/images/logo-mobile.png", class="-logo-mobile" alt=texts.TEXT_TITLE_ALT_EMPTY)
			a(href="#" class="menu-to-site")
				span(class="first-line")
				span(class="two-line")
				span(class="third-line")
			a(href="#" class="brif-for-site")= texts.REQUEST
		.container-fluid
			.row
				div(class="slider-side to-index-general")
					.-absolute-preloader
						img(src="/images/preload.gif", alt="4SIDE preloader")
					ul(class="slider-list")
						li(class="slider-list-item -blue")
							img(src="/images/slide_one.png", alt=texts.TEXT_TITLE_ALT_EMPTY)
							.slider-description
								p(class="slider-author") henri weuse
								h2(class="slider-title")= texts.CLASSIC
								a(href="/portfolio/56eef402b253494b0d0e6201" class="button -light-blue-button-slider")= texts.MORE
						li(class="slider-list-item -ros")
							img(src="/images/slide_two.png", alt=texts.TEXT_TITLE_ALT_EMPTY)
							.slider-description
								p(class="slider-author") lis master
								h2(class="slider-title")= texts.WOODS
								a(href="/portfolio/56eef184b253494b0d0e61fb" class="button -light-rose-button-slider")= texts.MORE
						li(class="slider-list-item -greens")
							img(src="/images/slide_three.png", alt=texts.TEXT_TITLE_ALT_EMPTY)
							.slider-description
								p(class="slider-author") sleep expert
								h2(class="slider-title")= texts.EMPIRE
								a(href="/portfolio/56eef27fb253494b0d0e61fd" class="button -light-green-button-slider")= texts.MORE
						li(class="slider-list-item -violets")
							img(src="/images/slide_four.png", alt=texts.TEXT_TITLE_ALT_EMPTY)
							.slider-description
								p(class="slider-author") ascania flora
								h2(class="slider-title")= texts.FLORA
								a(href="/portfolio/56eef34eb253494b0d0e61ff" class="button -light-violet-button-slider")= texts.MORE
					.controls-slider
		div(class="container")
			.row
				div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
					h2(class="name-of-services")= texts.SERVICES
					p(class="name-of-mini-description")= texts.SERVICES_TEXT
					div(class="col-xs-12 col-sm-6 col-md-6 col-lg-6")
						div(class="container-item-serv")
							span(class="item-serv-icon branding")
							div(class="item-serv-description")
								h3= texts.BRAND
								p= texts.BRAND_TEXT
					div(class="col-xs-12 col-sm-6 col-md-6 col-lg-6")
						div(class="container-item-serv")
							span(class="item-serv-icon web-design")
							div(class="item-serv-description")
								h3= texts.WEB_DESIGN
								p= texts.WEB_DESIGN_TEXT
					div(class="col-xs-12 col-sm-6 col-md-6 col-lg-6")
						div(class="container-item-serv")
							span(class="item-serv-icon illustration")
							div(class="item-serv-description")
								h3= texts.ILLUSTRATION
								p= texts.ILLUSTRATION_TEXT
					div(class="col-xs-12 col-sm-6 col-md-6 col-lg-6")
						div(class="container-item-serv")
							span(class="item-serv-icon web-development")
							div(class="item-serv-description")
								h3= texts.WEB_DEVELOPMENT
								p= texts.WEB_DEVELOPMENT_TEXT
					div(class="col-xs-12 col-sm-6 col-md-6 col-lg-6")
						div(class="container-item-serv")
							span(class="item-serv-icon bussines")
							div(class="item-serv-description")
								h3= texts.BUSSINES
								p= texts.BUSSINES_TEXT
		.outer-all-block-portfolio
			div(class="container-of-slider grid" itemscope itemtype="http://schema.org/Product")
				- var i = 0;
				each val in data.portfolio
					- i++;
					div(class="grid-item item-"+i)
						a(itemprop="url" class="discription-of-work" href="/portfolio/"+val._id)
							h3(itemprop="name")= val['title_'+lang]
								span(itemprop="description")= val['description_'+lang]
						img(itemprop="image" src=val.tempTitle, alt=val['title_'+lang])
		div(class="container -all-to-center")
			.row
				div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 counts-process")
					h2(class="name-of-services margin-more")= texts.WORKFLOW
					div(class="col-xs-12 col-sm-6 col-md-3 col-lg-3")
						.container-item-precess
							span(class="item-process-icon brain-storm")
							h3(class="margin-class arrow-class") 
								span= texts.BRAINSTORM
							p= texts.BRAINSTORM_TEXT
					div(class="col-xs-12 col-sm-6 col-md-3 col-lg-3")
						.container-item-precess
							span(class="item-process-icon planning")
							h3(class="margin-class arrow-class") 
								span= texts.PLANNING
							p= texts.PLANNING_TEXT
					div(class="col-xs-12 col-sm-6 col-md-3 col-lg-3")
						.container-item-precess
							span(class="item-process-icon design")
							h3(class="margin-class arrow-class") 
								span= texts.DESIGN
							p= texts.DESIGN_TEXT
					div(class="col-xs-12 col-sm-6 col-md-3 col-lg-3")
						.container-item-precess
							span(class="item-process-icon development")
							h3(class="margin-class arrow-class") 
								span= texts.DEVELOPMENT
							p= texts.DEVELOPMENT_TEXT

		div(class="container-fluid -all-to-center -back-grey")
			.row
				div(class="container")
					.row
						div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
							h2(class="name-of-services margin-more")= texts.SEO_TEXT_TITLE
							p= texts.SEO_TEXT_P1
							p= texts.SEO_TEXT_P2
							p= texts.SEO_TEXT_P3
							p= texts.SEO_TEXT_P4

		include footer.jade
	script(src="/build/masonry.pkgd.min.js" async)
	script(src="/build/controller.js" async)
	