doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		meta(name="keywords" content="бизнес решения, приложения, графический дизайн иллюстрации, создание сайтов, корпоративный сайт, веб студия, дизайн сайта, разработка сайта, Yii, Node.js, React, Angular")
		meta(name="description" content="Исключительно комплексный подход к созданию решений для бизнесс, сайтов и приложений на платформах Yii, Kohana, Node.js. 4SIDE (Украина, Киев)")
		meta(property="vk:image" content="http://4side.in.ua/images/big_logo-blue.png")
		meta(property="og:image" content="http://4side.in.ua/images/big_logo-blue.png")
		meta(property="image" content="http://4side.in.ua/images/big_logo-blue.png")
		meta(property="vk:Description" content="Исключительно комплексный подход к созданию решений для бизнесс, сайтов и приложений на платформах Yii, Kohana, Node.js. 4SIDE (Украина, Киев)")
		meta(property="og:title" content="#{title}")
		meta(property="og:type" content="website")
		meta(property="og:url" content="http://www.4side.in.ua/")
		meta(property="og:Description" content="Исключительно комплексный подход к созданию решений для бизнесс, сайтов и приложений на платформах Yii, Kohana, Node.js. 4SIDE (Украина, Киев)")
		link(rel="image_src" href="http://4side.in.ua/images/big_logo-blue.png")
		link(rel="shortcut icon" href="/images/fav16.png")
		link(rel="apple-touch-icon" sizes="128x128" href="/images/fav128.ico")
		link(rel="apple-touch-icon-precomposed" sizes="128x128" href="/images/fav128.ico")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel='stylesheet', href='/build/styl.min.css')
		script(src="/build/iscroll.js")
	body
		.side-modal-outer
			.side-modal-cell
				
				div(class="side-madal-content")
					a(href="#" class="side-modal-close")
					#wrapper
						#scroller
							h2(class="side-modal-title")= texts.BRIF
							form(action="/modal" id="modal-letter")
								input(type="text" name="name" class="form-input modal-input" placeholder="#{texts.PERSON}" required="required")
								input(type="number" name="number" class="form-input modal-input" placeholder="#{texts.PHONE}" required="required")
								input(type="email" name="email" class="form-input modal-input" placeholder="Email" required="required")
								input(type="text" name="company" class="form-input modal-input" placeholder="#{texts.COMPANY_NAME}")
								textarea(class="form-textarea modal-input" name="description" placeholder="#{texts.DESCRIPTION}")
								button(class="button" type="submit")= texts.SUBMIT
							p(class="hide-message") 
		block content

