.container-fixed-menu
	p(class="side-lang-wrapper")= texts.LANG 
		|:
		a(href="?clang=en") EN
		a(href="?clang=ru") RU
	ul(class="list-menu")
		li
			a(href="/")= texts.GENERAL
		li 
			a(href="/about")= texts.ABOUT
		li 
			a(href="/portfolio")= texts.PORTFOLIO
		li 
			a(href="/team")= texts.TEAM
		li 
			a(href="/contact")= texts.CONTACT