.container-fixed-menu
	p(class="side-lang-wrapper")= texts.LANG 
		|:
		- if (lang == 'ru')
			a(href="?clang=en") EN
			span RU
		- else
			span EN
			a(href="?clang=ru") RU
	ul(class="list-menu")
		li
			a(href="/")= texts.GENERAL
		li 
			a(href="/about")= texts.ABOUT
		li 
			a(href="/team")= texts.TEAM
		li 
			a(href="/contact")= texts.CONTACT
		li 
			a(href="/portfolio" class="side-menu-multiply")= texts.PORTFOLIO
				span(class="side-by-4SIDE") by 4SIDE
		li 
			a(href="/interior" class="side-menu-multiply")= texts.INTERIOR
				span(class="side-by-4SIDE") by 4SIDE
		li 
			a(href="/art" class="side-menu-multiply")= texts.ART_MENU
				span(class="side-by-4SIDE") by 4SIDE