extends layout

block content
	include menu.jade
	div(class="container-all-outer grey-color")
		include allHeader.jade
		.container
			.row
				div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-outer-team")
					nav(class="outer-of-breadcrumps")
						ul(class="list-of-breadcrumps")
							each val in breadcrumps
								if(val.link)
									li 
										a(href=val.link)= val.inRus
								else
									li= val.inRus
					h1(class="title-of-h1 no-bottom-padding")= data.portfolio["title_"+lang]
		.container
			.row
				div(class="title-for-portfolio-single" itemscope itemtype="http://schema.org/Product")
					.left-side
						img(itemprop="image" src=data.portfolio.src, alt=data.portfolio["title_"+lang])
					.rigth-side
						p(itemprop="description" class="side-full-description")= data.portfolio["description_"+lang]
						h4(class="side-technology")= texts.TECHNOLOGY
							br
							span=data.portfolio.technology
						h4(class="side-origin")= texts.FEAUTURES
							br
							span=data.portfolio["origin_"+lang]
				.side-work-gallery
						img(src=data.gallery.src[0], alt="4SIDE Design & Development " + data.portfolio["title_"+lang])

						
			
		include footer.jade
	script
		|var local_data =!{JSON.stringify(data)};
	script(src="/build/controller.js" async)