extends layout

block content
	include menu.jade
	div(class="container-all-outer grey-color")
		include allHeader.jade
		.container
			.row
				div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-outer-team")
					nav(class="outer-of-breadcrumps")
						ul(class="list-of-breadcrumps")
							each val in breadcrumps
								if(val.link)
									li 
										a(href=val.link)= val.inRus
								else
									li= val.inRus
					h1(class="title-of-h1")= texts.PORTFOLIO
					p(class="mini-description")= texts.PORTFOLIO_TEXT
		.container-fluid
			.row
				div(class="container-of-slider grid")
					each value in data.portfolio
						.grid-item
							a(class="discription-of-work" href="/portfolio/"+value._id)
								h3=value['title_'+lang]
									span=value['description_'+lang]
							img(src=value.tempTitle, alt="")
			
		include footer.jade
	script(src="/build/masonry.pkgd.min.js")
	script(src="/build/controller.js")